* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
}
:root {
  --praimary-color: #6195ff;
}
/* general */
tr,
td,
th {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.5);
}
button,
#submit {
  outline: none;
  border: none;
  background-color: #6195ff;
  color: white;
  font-weight: 600;
  padding: 7px 25px;
  border-radius: 12px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.202);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:hover,
#submit:hover {
  background-color: #6997f2;
  color: white;
  padding: 7px 35px;
  border-radius: 9px;
  letter-spacing: 1.2px;
}
/* /scroll/ */
::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--praimary-color);
}
/* section-header */
.section-header {
  text-align: center;
  margin-bottom: 20px;
}
.header-title {
  text-transform: capitalize;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 12px;
  padding-top: 30px;
}
.line {
  margin: auto;
  height: 4px;
  width: 60px;
  background-color: var(--praimary-color);
  display: block;
  margin-bottom: 70px;
}
/*header*/
.header {
  position: fixed;
  top: 0;
  transition: all 0.8s ease;
  width: 100%;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.36);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.contener {
  margin: auto;
  width: 80%;
}
.header .nav {
  width: 90%;
}
.header .logo {
  width: 10%;
  float: left;
  margin-top: 12px;
  filter: drop-shadow(0 0 1px rgb(255, 255, 255));
}

.header .nav > li {
  display: inline-block;
  padding: 0px 0px 0px 21px;
}
.header .nav > li > a {
  padding: 30px;
  display: block;
  color: white;
}
.header .nav > li > a:after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: var(--praimary-color);
  transition: 0.5s;
}
.header .nav > li > a.active:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--praimary-color);
  transition: 0.5s;
}
.header .nav > li > a:hover:after {
  width: 100%;
}
.drop-dawon {
  position: relative;
}
.drop-dawon-menu {
  position: absolute;
  background-color: var(--praimary-color);
  top: -25px;
  left: 33px;
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  transition: opacity 1s;
  opacity: 0;
  visibility: hidden;
}
.aboute:hover .drop-dawon-menu {
  opacity: 1;
  visibility: visible;
  color: #f3ecec;
}
.drop-blog {
  display: inline-block;
  padding: 6%;
  color: white;
}

/*home*/
.homesec {
  background-image: url(../images/background/background1.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  z-index: 2;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.656);
}

.home-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-content .title {
  color: aliceblue;
  font-size: 4rem;
  line-height: 50px;
  margin-bottom: 40px;
}
.home-content .url {
  color: rgb(203, 208, 212);
  font-size: 1rem;
  line-height: 20px;
  display: block;
  margin-bottom: 30px;
}
.home-content .stu-name-btn {
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.74) !important;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.home-content .stu-name-btn:hover {
  background-color: rgba(255, 255, 255, 0.555) !important;
}
/*section-students*/
.section-students {
  margin-bottom: 10%;
}
.students-title {
  margin-bottom: 11px;
  text-transform: capitalize;
}
.section-students .cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.section-students .students-content {
  padding: 14px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.236);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.section-students .students-content:hover {
  transform: scale(1.1) rotate(2deg);
}
.section-students .students-content .email {
  margin: 15px;
  display: block;
  text-transform: capitalize;
  color: var(--praimary-color);
}
.students-pr {
  margin-top: 15px;
  display: block;
  line-height: 25px;
  color: #a38a8a;
}

/* About us page  */
.aboutPage .header {
  background-color: transparent;
}
.aboutPage .Aboutsec {
  background-image: url(../images/background/background2.webp);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutPage .home-content_About {
  width: 80%;
  margin: auto auto;
  max-height: 60%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.aboutPage .home-content_About .title {
  transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 60px;
  word-wrap: break-word;
}
.aboutPage .home-content_About .title p {
  font-size: 70px;
  color: rgb(37, 142, 254);
}
.aboutPage .home-content_About .info {
  background: rgba(115, 115, 115, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(145, 145, 145, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 2rem;
  text-align: center;
}
.aboutPage .home-content_About .info:hover {
  transform: rotate(-1.2deg) scale(1.01);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  box-shadow: 0 4px 3px rgba(255, 255, 255, 0.251);
}
.aboutPage .home-content_About .info span,
.aboutPage .home-content_About .info h3 {
  color: rgb(100, 175, 255);
}

/* properties  page  */
.propertiesPage {
  position: relative;
}
.propertiesPage .overlay {
  background-color: rgba(0, 0, 0, 0.415);
}
.propertiesPage .header {
  background-color: rgba(0, 0, 0, 0);
}
.propertiesPage .propertiessec {
  background-image: url(../images/background/background3.jpg);
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
  position: relative;
}
.propertiesPage .propertiessec .hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.propertiesPage .propertiessec .hero h3 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

.propertiesPage .propertiessec .hero h3:hover {
  letter-spacing: 4px;
}
.propertiesPage .arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 14px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  z-index: 4;
}
.propertiesPage .arrow img {
  width: 40%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.propertiesPage .arrow:hover img {
  transform: translateY(5px);
  cursor: pointer;
}
.propertiesPage .table_container {
  background-color: #e0e0e0;
  width: 90%;
  margin: auto;
  border-radius: 14px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.314);
  padding: 0 10px;
}
.propertiesPage table {
  width: 100%;
  margin: 5rem auto;
  margin-bottom: 1rem;
  text-align: center;
}
.propertiesPage table tr {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.propertiesPage table tr:not(thead tr):hover {
  background-color: rgba(0, 0, 0, 0.106);
}
.propertiesPage table td {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.propertiesPage button {
  margin: 10px;
}
.propertiesPage button:disabled {
  background-color: rgba(128, 128, 128, 0.495);
  cursor: not-allowed;
}
.propertiesPage #formContainer {
  padding: 1rem;
}
.propertiesPage #formContainer label {
  background-color: #6196ff6b;
  padding: 2px 10px;
  margin: 15px 0;
  border-radius: 0 5px 5px 0;
  display: inline-block;
  width: 160px;
  z-index: -1;
}
.propertiesPage #formContainer #requestForm input:not(#submit) {
  width: 160px;
  direction: rtl;
  background: white;
  border: none;
  outline: none;
  z-index: 2;
  border-radius: 5px 0 0 5px;
  margin-right: -5px;
  position: relative;
  padding: 5px;
}
.propertiesPage #formContainer #requestForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.propertiesPage #formContainer #requestForm > div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
/* footer */
footer {
  text-align: center;
  margin: 10px 0;
}
/* goToTop */
.goToTop {
  background-color: var(--praimary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 2.6;
  overflow: hidden;
  transition: all 0.4s ease;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}
.goToTop:hover {
  animation: gototop_anim 1s ease-in-out;
}
/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  min-width: 800px;
  max-width: 1200px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.modal-content > div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.modal-content p {
  color: green;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content img{
  box-shadow: -5px 5px 10px 2px rgba(0, 0, 0, 0.258);
}
@keyframes gototop_anim {
  0% {
    bottom: 20px;
  }
  30% {
    bottom: 40px;
  }
  100% {
    bottom: 20px;
  }
}
